<tr>
  <td class="btn-group-xs">
    {# TODO: Make this pretty for row actions (add tax, add item before, add item after...) #}
    <a class="btn btn-default btn-xs" title="{% trans from 'SiwappCoreBundle' %}item.form.remove{% endtrans %}" href="#" onclick="jQuery(this).parents('tr').remove();return false;"><span class="glyphicon glyphicon-trash"></span></a>
  </td>
  {% if bundle_exists('SiwappProductBundle') %}
  <td class="col-md-xs">
    {{ form_widget(form.product, {'attr': {'class': 'product-autocomplete-name'}}) }}
    {{ form_errors(form.product) }}
    <script>
    $(function() {
      $('.product-autocomplete-name:not(.ui-autocomplete-input)').each(function () {
        $(this).autocomplete({
          source: '{{ path('product_autocomplete_reference') }}',
          select: selectProductAutocompleteItem,
        }).autocomplete( "instance" )._renderItem = renderProductAutocompleteItem;
      });
    });
    </script>
  </td>
  {% endif %}
  <td>
    {{ form_widget(form.description, {'attr': {'class': 'product-autocomplete-description'}}) }}
    {{ form_errors(form.description) }}

    {% if bundle_exists('SiwappProductBundle') %}
    <script>
    $(function() {
      $('.product-autocomplete-description:not(.ui-autocomplete-input)').each(function () {
        $(this).autocomplete({
          source: '{{ path('product_autocomplete_description') }}',
          select: selectProductAutocompleteItem,
        }).autocomplete( "instance" )._renderItem = renderProductAutocompleteItem;
      });
    });
    </script>
    {% endif %}
  </td>
  <td class="cell-align-right">
    {{ form_widget(form.quantity) }}
    {{ form_errors(form.quantity) }}
  </td>
  <td class="cell-align-right">
    {{ form_widget(form.unitary_cost) }}
    {{ form_errors(form.unitary_cost) }}
  </td>
  <td class="cell-align-right">
    {{ form_widget(form.discount_percent) }}
    {{ form_errors(form.discount_percent) }}
  </td>
  <td class="taxes form-inline">
    {{ form_widget(form.taxes) }}
    {{ form_errors(form.taxes) }}
    <script type="text/javascript">
      $(function(){
        $('td.taxes select').select2();
      });
    </script>
  </td>
  <td class="cell-align-right">
    {{ entity.grossAmount|localizedcurrency(currency, app.request.locale) }}
  </td>
</tr>
{{ form_widget(form) }}
