<tr>
  <td>
    {{ item.description }}
  </td>
  <td class="cell-align-right">
    {{ item.quantity }}
  </td>
  <td class="cell-align-right">
    {{ item.unitary_cost|localizedcurrency(currency, app.request.locale) }}
  </td>
  <td class="cell-align-right">
    {{ item.discount }}%
  </td>
  <td class="taxes form-inline">
    {% for tax in item.taxes %}
    {{ tax.label() }}
    {% endfor %}
  </td>
  <td class="cell-align-right">
    {{ item.grossAmount|localizedcurrency(currency, app.request.locale) }}
  </td>
</tr>
