{% extends "SiwappCoreBundle:AbstractInvoice:edit.html.twig" %}
{% trans_default_domain 'SiwappInvoiceBundle' %}

{% block invoice_actions %}
  {% if entity.id %}
  <ul class="entity-actions list-inline float-right">
    <li><a class="btn btn-default btn-info" href="{{ path('invoice_show_pdf', {'id': entity.id}) }}">
      <span class="glyphicon glyphicon-download-alt"></span> {% trans %}show.pdf{% endtrans %}
    </a></li>
    <li><a class="btn btn-default btn-info" href="{{ path('invoice_show_print', {'id': entity.id}) }}" target="_blank">
      <span class="glyphicon glyphicon-print"></span> {% trans %}show.print{% endtrans %}
    </a></li>
    <li><form action="{{ path('invoice_email', {'id': entity.id}) }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <button type="submit" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-envelope"></span> {% trans %}show.email{% endtrans %}</button>
      </form>
    </li>
  </ul>
  {% endif %}
{% endblock %}


{% block invoice_label %}
  <h2>{% trans %}invoice.invoice{% endtrans %} {{ entity.label() }}</h2>

  <ul class="list-inline list-unstyled">
    <li>
      <span class="label {{ entity.statusString }}">{{ ('invoice.' ~ entity.statusString)|trans }}</span>
    </li>
    <li>
      {% if entity.sentByEmail %}
      <span class="label notice">{% trans %}invoice.sent_by_email{% endtrans %}</span>
      {% else %}
      <span class="label">{% trans %}invoice.not_sent_by_email{% endtrans %}</span>
      {% endif %}
    </li>
  </ul>
{% endblock %}


{% block properties_form %}
  {{ form_row(form.series) }}
  {{ form_row(form.issue_date) }}
  {{ form_row(form.due_date) }}
  {{ form_row(form.forcefully_closed) }}
  {{ form_row(form.sent_by_email) }}
{% endblock %}


{% block form_actions %}
  <input type="submit" class="btn btn-default btn-primary" name="save" value="{% trans %}form.submit{% endtrans %}">
  {% if not entity.id or entity.isDraft() %}
  <input type="submit" class="btn btn-default" name="save_draft" value="{% trans %}form.submit_draft{% endtrans %}">
  {% endif %}
  {% if entity.isOpen() %}
  <input type="submit" class="btn btn-default" name="save_close" value="{% trans %}form.submit_close{% endtrans %}">
  {% endif %}
  <div class="float-right">
    {% if entity.id %}
    <a class="btn btn-default btn-danger" href="{{ path('invoice_delete', {'id': entity.id}) }}">{% trans %}form.submit_delete{% endtrans %}</a>
    {% endif %}
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script>
  jQuery(function($) {
    $(document).on('change', '.edit-item-row select, .edit-item-row input', function () {
      updateInvoiceTotals('{{ path('invoice_form_totals') }}', $(this).parents('tr'));
    });
  });
  </script>
{% endblock %}
