{% extends "SiwappCoreBundle:AbstractInvoice:edit.html.twig" %}
{% trans_default_domain 'SiwappInvoiceBundle' %}


{% block page_messages %}
  {{ parent() }}

  {% if app.request.session.get('invoice_auto_print') %}
  <div class="alert alert-warning fade in js-hide">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <a href="{{ path('invoice_show_print', {'id': app.request.session.remove('invoice_auto_print')}) }}" class="js-auto-click">{% trans %}flash.no_js_invoice_print{% endtrans %}</a>
  </div>
  {% endif %}
{% endblock %}


{% block invoice_label %}
  <h2>{% trans %}invoice.invoice{% endtrans %} {{ entity.label('invoice.draft_label'|trans) }}</h2>

  <ul class="list-inline list-unstyled">
    <li>
      <span class="label {{ entity.statusString }}">{{ ('invoice.' ~ entity.statusString)|trans }}</span>
    </li>
    <li>
      {% if entity.sentByEmail %}
      <span class="label notice">{% trans %}invoice.sent_by_email{% endtrans %}</span>
      {% else %}
      <span class="label">{% trans %}invoice.not_sent_by_email{% endtrans %}</span>
      {% endif %}
    </li>
  </ul>
{% endblock %}


{% block properties_form %}
  {{ form_row(form.series) }}
  {{ form_row(form.issue_date) }}
  {{ form_row(form.due_date) }}
  {{ form_row(form.forcefully_closed) }}
  {{ form_row(form.sent_by_email) }}
{% endblock %}


{% block form_actions %}
  <input type="submit" class="btn btn-default btn-primary" name="save" value="{% trans %}form.submit{% endtrans %}">
  {% if not entity.id or entity.isDraft() %}
  <input type="submit" class="btn btn-default" name="save_draft" value="{% trans %}form.submit_draft{% endtrans %}">
  {% endif %}
  {% if entity.isOpen() %}
  <input type="submit" class="btn btn-default" name="save_close" value="{% trans %}form.submit_close{% endtrans %}">
  {% endif %}

  {% if entity.id %}
  <input type="submit" class="btn btn-default btn-info" name="save_pdf" value="{% trans %}form.submit_pdf{% endtrans %}">
  <input type="submit" class="btn btn-default btn-info" name="save_print" value="{% trans %}form.submit_print{% endtrans %}">
  {% endif %}
  <input type="submit" class="btn btn-default btn-warning" name="save_email" value="{% trans %}form.submit_email{% endtrans %}">

  <div class="float-right">
    {% if entity.id %}
    <a class="btn btn-default btn-danger" href="{{ path('invoice_delete', {'id': entity.id}) }}" data-confirm="{% trans %}form.submit_delete_confirm{% endtrans %}">{% trans %}form.submit_delete{% endtrans %}</a>
    {% endif %}
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script>
  jQuery(function($) {
    $(document).on('change', '.edit-item-row select, .edit-item-row input', function () {
      updateInvoiceTotals('{{ path('invoice_form_totals') }}', $(this).parents('tr'));
    });
  });
  </script>
{% endblock %}
