{#
Available variables:
 App:
 - app.request.locale
 Settings:
 - settings.company_name
 - settings.company_identification
 - settings.company_address
 - settings.company_phone
 - settings.company_fax
 - settings.company_email
 - settings.company_url
 - settings.company_logo
 - settings.currency
 - settings.legal_terms
 - settings.pdf_size
 - settings.pdf_orientation
 Invoice:
 - invoice.series
 - invoice.series.name
 - invoice.series.value
 - invoice.series.fist_number
 - invoice.series.enabled
 - invoice.number
 - invoice.status
 - invoice.status_string
 - invoice.customer_name
 - invoice.customer_identification
 - invoice.customer_email
 - invoice.contact_person
 - invoice.issue_date
 - invoice.due_date
 - invoice.sent_by_email
 - invoice.forcefully_closed
 - invoice.base_amount
 - invoice.discount_amount
 - invoice.net_amount
 - invoice.gross_amount
 - invoice.tax_amount
 - invoice.paid_amount
 - invoice.items
 - invoice.payments
 - invoice.invoicing_address
 - invoice.shipping_address
 - invoice.terms
 - invoice.notes
 Item:
 - item.description
 - item.unitary_cost
 - item.discount
 - item.discount_amount
 - item.quantity
 - item.base_amount
 - item.net_amount
 - item.gross_amount
 - item.tax_amount
 - item.taxes_percent
 Payment:
 - payment.date
 - payment.amount
 - payment.notes
#}<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="utf-8" />
  <title>Factura</title>
  <style type="text/css">
    /* Custom CSS code */
    table {border-spacing:0; border-collapse: collapse;}
    ul {list-style-type: none; padding-left:0;}
    body, input, textarea { font-family:helvetica,sans-serif; font-size:8pt; }
    body { color:#464648; margin:2cm 1.5cm; }
    h2   { color:#535255; font-size:16pt; font-weight:normal; line-height:1.2em; border-bottom:1px solid #DB4823; margin-right:220px }
    h3   { color:#9A9A9A; font-size:13pt; font-weight:normal; margin-bottom: 0em}
    table th.right,
    table td.right              { text-align:right; }
    .customer-data              { padding:1em 0; }
    .customer-data table        { width:100%;       }
    .customer-data table td     { width:50%;        }
    .customer-data td span      { display:block; margin:0 0 5pt; padding-bottom:2pt; border-bottom:1px solid #DCDCDC; }
    .customer-data td span.left { margin-right:1em; }
    .customer-data label        { display:block; font-weight:bold; font-size:8pt; }
    .payment-data               { padding:1em 0;    }
    .payment-data table         { width:100%;       }
    .payment-data th,
    .payment-data td            { line-height:1em; padding:5pt 8pt 5pt; border:1px solid #DCDCDC; }
    .payment-data thead th      { background:#FAFAFA; }
    .payment-data th            { font-weight:bold; white-space:nowrap; }
    .payment-data .bottomleft   { border-color:white; border-top:inherit; border-right:inherit; }
    .payment-data span.tax      { display:block; white-space:nowrap; }
    .terms, .notes              { padding:9pt 0 0; font-size:7pt; line-height:9pt; }
    .section                    { margin-bottom: 1em; }
    .logo                       { text-align: right; }
  </style>
  <style type="text/css">
    /* CSS code for printing */
    @media print {
      body           { margin:auto; }
      .section       { page-break-inside:avoid; }
      .pagebreak     { page-break-before: always; }
    }
  </style>
  {% if print is defined and print %}
  <script type="text/javascript">
    window.onload = function() { window.print(); }
  </script>
  {% endif %}
</head>
<body>
  {% if settings.company_logo is defined and settings.company_logo %}
    <div class="logo">
      <img src="{{ absolute_url(asset(settings.company_logo)) }}" alt="{{ settings.company_name }}" />
    </div>
  {% endif %}

  <div class="h2">
    <h2>Factura #{{invoice}}</h2>
  </div>
  <div class="section">
    <div class="company-data">
      <ul>
        <li>Empresa: {{settings.company_name}}</li>
        <li>Identificación de la empresa: {{settings.company_identification}}</li>
        <li>Dirección: {{settings.company_address|nl2br}}</li>
        <li>Teléfono: {{settings.company_phone}}</li>
        <li>Fax: {{settings.company_fax}}</li>
        <li>Email: {{settings.company_email}}</li>
        <li>Web: {{settings.company_url}}</li>
      </ul>
    </div>
  </div>
  <div class="section">
    <h3>Información de cliente</h3>
    <div class="customer-data">
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>
            <span class="left">
              <label>Cliente:</label>
              {{invoice.customer_name}}
            </span>
          </td>
          <td>
            <span class="right">
              <label>Identificación del cliente:</label>
              {{invoice.customer_identification}}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left">
              <label>Persona de contacto:</label>
              {{invoice.contact_person}}
            </span>
          </td>
          <td>
            <span class="right">
              <label>Email:</label>
              {{invoice.customer_email}}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left">
              <label>Dirección de facturación:</label>
              {{invoice.invoicing_address|nl2br}}
            </span>
          </td>
          <td>
            <span class="right">
              <label>Dirección de envío:</label>
              {{invoice.shipping_address|nl2br}}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="section">
    <h3>Detalles de pago</h3>
    <div class="payment-data">
      <table>
        <thead>
          <tr>
            <th>Descripción</th>
            <th class="right">Coste unitario</th>
            <th class="right">Cantidad</th>
            <th class="right">Impuestos</th>
            {# show discounts only if there is some discount #}
            {% if invoice.discount_amount %}
            <th class="right">Descuento</th>
            {% endif %}
            <th class="right">Precio</th>
          </tr>
        </thead>
        <tbody>
          {% for item in invoice.Items %}
            <tr>
              <td>
                {{item.description}}
              </td>
              <td class="right">{{item.unitary_cost|localizedcurrency(settings.currency, app.request.locale)}}</td>
              <td class="right">{{item.quantity}}</td>
              <td class="right">
                {% for tax in item.Taxes %}
                  <span class="tax">{{tax.name}}</span>
                {% endfor %}
              </td>
              {% if invoice.discount_amount %}
              <td class="right">{{item.discount_amount|localizedcurrency(settings.currency, app.request.locale)}}</td>
              {% endif %}
              <td class="right">{{item.gross_amount|localizedcurrency(settings.currency, app.request.locale)}}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td class="bottomleft" colspan="{% if invoice.discount_amount %}4{% else %}3{% endif %}"></td>
            <th class="right">Base</th>
            <td class="right">{{invoice.base_amount|localizedcurrency(settings.currency, app.request.locale)}}</td>
          </tr>
          {% if invoice.discount_amount %}
          <tr>
            <td class="bottomleft" colspan="{% if invoice.discount_amount %}4{% else %}3{% endif %}"></td>
            <th class="right">Descuento</th>
            <td class="td_global_discount right">{{invoice.discount_amount|localizedcurrency(settings.currency, app.request.locale)}}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="bottomleft" colspan="{% if invoice.discount_amount %}4{% else %}3{% endif %}"></td>
            <th class="right">Subtotal</th>
            <td class="td_subtotal right">{{invoice.net_amount|localizedcurrency(settings.currency, app.request.locale)}}</td>
          </tr>
          <tr>
            <td class="bottomleft" colspan="{% if invoice.discount_amount %}4{% else %}3{% endif %}"></td>
            <th class="right">Impuestos</th>
            <td class="td_total_taxes right">{{invoice.tax_amount|localizedcurrency(settings.currency, app.request.locale)}}</td>
          </tr>
          <tr class="strong">
            <td class="bottomleft" colspan="{% if invoice.discount_amount %}4{% else %}3{% endif %}"></td>
            <th class="right">Total</th>
            <td class="td_total right">{{invoice.gross_amount|localizedcurrency(settings.currency, app.request.locale)}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="section">
    <h3>Términos y condiciones</h3>
    <div class="terms">
      {{invoice.terms|nl2br}}
    </div>
  </div>
</body>
</html>
