{% extends "SiwappCoreBundle:AbstractInvoice:show.html.twig" %}
{% trans_default_domain 'SiwappInvoiceBundle' %}


{% block invoice_actions %}
  <ul class="entity-actions list-inline float-right">
    <li><a class="btn btn-default btn-info" href="{{ path('invoice_show_pdf', {'id': entity.id}) }}"><span class="glyphicon glyphicon-download-alt"></span> {% trans %}show.pdf{% endtrans %}</a></li>
    <li><a class="btn btn-default btn-info" href="{{ path('invoice_show_print', {'id': entity.id}) }}" target="_blank"><span class="glyphicon glyphicon-print"></span> {% trans %}show.print{% endtrans %}</a></li>
    <li><form action="{{ path('invoice_email', {'id': entity.id}) }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <button type="submit" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-envelope"></span> {% trans %}show.email{% endtrans %}</button>
      </form>
    </li>
  </ul>
{% endblock %}


{% block invoice_label %}
  <h2>{% trans %}invoice.invoice{% endtrans %} {{ entity.label('invoice.draft_label'|trans) }}</h2>
  <ul id="invoice-like-status" class="list-unstyled">
    <li>
      <span class="label {{ entity.statusString }}">{{ ('invoice.' ~ entity.statusString)|trans }}</span>
    </li>
    <li>
      {% if entity.sentByEmail %}
      <span class="label notice">{% trans %}invoice.sent_by_email{% endtrans %}</span>
      {% else %}
      <span class="label">{% trans %}invoice.not_sent_by_email{% endtrans %}</span>
      {% endif %}
    </li>
  </ul>
{% endblock %}


{% block properties %}
  <div class="col-md-12">
    <label>{% trans %}show.series{% endtrans %}:</label>
    {{ entity.series }}
  </div>
  <div class="col-md-12">
    <label>{% trans %}show.issue_date{% endtrans %}:</label>
    {{ entity.issue_date|localizeddate('medium', 'none', app.request.locale) }}
  </div>
  <div class="col-md-12">
    <label>{% trans %}show.due_date{% endtrans %}:</label>
    {{ entity.due_date|localizeddate('medium', 'none', app.request.locale) }}
  </div>
{% endblock %}


{% block invoice_edit_actions %}
  <ul class="list-inline float-right">
    <li><a class="btn btn-default" href="{{ path('invoice_edit', {'id': entity.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}show.edit{% endtrans %}</a></li>
    <li><a class="btn btn-default btn-danger" href="{{ path('invoice_delete', {'id': entity.id}) }}" data-confirm="{% trans %}show.delete_confirm{% endtrans %}"><span class="glyphicon glyphicon-trash"></span> {% trans %}show.delete{% endtrans %}</a></li>
  </ul>
{% endblock %}
