{% extends "SiwappCoreBundle::base.html.twig" %}
{% trans_default_domain 'SiwappInvoiceBundle' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    'bundles/siwappinvoice/css/invoice.css'
    filter='cssrewrite'
    filter='?yui_css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block searchform %}{% endblock %}

{% block body %}

  <article class="invoice-like">

    <header id="invoice-like-title">
      <ul class="entity-actions list-inline float-right">
        <li><a class="btn btn-default btn-info" href="{{ path('invoice_show_pdf', {'id': entity.id}) }}"><span class="glyphicon glyphicon-download-alt"></span> {% trans %}show.pdf{% endtrans %}</a></li>
        <li><a class="btn btn-default btn-info" href="{{ path('invoice_show_print', {'id': entity.id}) }}" target="_blank"><span class="glyphicon glyphicon-print"></span> {% trans %}show.print{% endtrans %}</a></li>
        <li><form action="{{ path('invoice_email', {'id': entity.id}) }}" method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <button type="submit" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-envelope"></span> {% trans %}show.email{% endtrans %}</button>
          </form>
        </li>
      </ul>
      <h2>Invoice {{ entity.label() }}</h2>
      <ul id="invoice-like-status" class="list-unstyled">
        <li>
          <span class="label {{ entity.statusString }}">{{ entity.statusString|capitalize }}</span>
        </li>
        <li>
          {% if entity.sentByEmail %}
          <span class="label notice">{% trans %}Sent by Email{% endtrans %}</span>
          {% else %}
          <span class="label">{% trans %}Not Sent by Email{% endtrans %}</span>
          {% endif %}
        </li>
      </ul>
    </header>
    <div class="row">
      <div id="invoice-like-customer-data" class="col-md-8">

        <h3>{% trans %}Customer Data{% endtrans %}</h3>

        <div class="row">
          <div class="col-md-6 clearfix">
            <label>{% trans %}Customer name{% endtrans %}:</label>
            {{ entity.customer_name }}
          </div>
          <div class="col-md-6 clearfix">
            <label>{% trans %}Customer Identification{% endtrans %}:</label>
            {{ entity.customer_identification }}
          </div>
          <div class="col-md-6 clearfix">
            <label>{% trans %}Contact person{% endtrans %}:</label>
            {{ entity.contact_person }}
          </div>

          <div class="col-md-6 clearfix">
            <label>{% trans %}Customer email{% endtrans %}:</label>
            <a href="mailto:{{ entity.customer_email }}">{{ entity.customer_email }}</a>
          </div>

          <div class="col-md-6 clearfix">
            <label>{% trans %}Invoicing address{% endtrans %}:</label>
            <p>{{ entity.invoicing_address|nl2br }}</p>
          </div>
          <div class="col-md-6 clearfix">
            <label>{% trans %}Shipping address{% endtrans %}:</label>
            <p>{{ entity.shipping_address|nl2br }}</p>
          </div>
        </div>
      </div>

      <div id="invoice-like-properties" class="col-md-4"><div class="panel panel-default">
        <h3 class="panel-heading">{% trans %}Properties{% endtrans %}</h3>

        <div class="panel-body">
          <div class="col-md-12">
            <label>{% trans %}Series{% endtrans %}:</label>
            {{ entity.serie }}
          </div>
          <div class="col-md-12">
            <label>{% trans %}Issue date{% endtrans %}:</label>
            {{ entity.issue_date|localizeddate('medium', 'none') }}
          </div>
          <div class="col-md-12">
            <label>{% trans %}Due date{% endtrans %}:</label>
            {{ entity.due_date|localizeddate('medium', 'none') }}
          </div>
        </div>
      </div></div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <h3>{% trans %}Invoice items{% endtrans %}</h3>

        <table id="invoice-like-items" class="table table-condensed table-striped align-middle">
          <thead>
            <tr>
              <th class="">{% trans %}Concept{% endtrans %}</th>
              <th class="col-md-1 cell-align-center">{% trans %}Qty/Hours{% endtrans %}</th>
              <th class="col-md-2 cell-align-center">{% trans %}Price{% endtrans %}</th>
              <th class="col-md-1 cell-align-center">{% trans %}Discount{% endtrans %}</th>
              <th class="col-md-2 cell-align-left">{% trans %}Taxes{% endtrans %}</th>
              <th colspan="2" class="cell-align-right">{% trans %}Line Total{% endtrans %}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in entity.items %}
              {{ include('SiwappCoreBundle:Item:show.html.twig', { 'item': item, 'currency': currency }) }}
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

    <div class="row totals">
      <div class="col-md-4 col-md-offset-8">
        <table id="invoice-like-totals" class="table table-condensed table-striped">
          <tbody>
            <tr>
              <th class="cell-size-large">{% trans %}Subtotal{% endtrans %}</th>
              <td class="cell-align-right">{{ entity.baseAmount|localizedcurrency(currency) }}</td>
            </tr>
            <tr>
              <th>{% trans %}Taxes{% endtrans %}</th>
              <td class="cell-align-right">{{ entity.taxAmount|localizedcurrency(currency) }}</td>
            </tr>
            <tr>
              <th>Invoice Total ({{ currency }})</th>
              <td class="cell-align-right">{{ entity.grossAmount|localizedcurrency(currency) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="invoice-like-notes" class="row">
      <div class="col-md-6">
        <label>{% trans %}Terms & conditions{% endtrans %}:</label>
        <p>{{ entity.terms|nl2br }}</p>
      </div>
      <div class="col-md-6">
        <label>{% trans %}Notes{% endtrans %}:</label>
        <p>{{ entity.notes|nl2br }}</p>
      </div>
    </div>

    <div class="entity-actions clearfix">
      <ul class="list-inline float-right">
        <li><a class="btn btn-default" href="{{ path('invoice_edit', {'id': entity.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</a></li>
        <li><a class="btn btn-default btn-danger" href="{{ path('invoice_delete', {'id': entity.id}) }}"><span class="glyphicon glyphicon-trash"></span> {% trans %}Delete{% endtrans %}</a></li>
      </ul>
    </div>

  </article>


{% endblock %}
