{% extends "SiwappCoreBundle::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    'bundles/siwappdashboard/css/dashboard.css'
    filter='cssrewrite'
    filter='?yui_css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    'bundles/siwappinvoice/js/invoice-payments.js'
    filter='?yui_js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block searchform %}
  {% include "SiwappInvoiceBundle:Partials:search.html.twig" with {'form': search_form} %}
{% endblock %}

{% block body %}

  <div id="dashboard-summary">

    <table class="table table-bordered sw-table-horizontal payments">
      <thead>
        <tr>
          <th colspan="2">{% trans %}Payments Summary{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="receipts">
          <th>{% trans %}Receipts{% endtrans %}</th>
          <td>{{ totals.paid|localizedcurrency(currency) }}</td>
        </tr>
        <tr class="due">
          <th>{% trans %}Due{% endtrans %}</th>
          <td>{{ totals.due|localizedcurrency(currency) }}</td>
        </tr>
        <tr class="overdue">
          <th>{% trans %}Overdue{% endtrans %}</th>
          <td>{{ totals.overdue|localizedcurrency(currency) }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered sw-table-horizontal balance">
      <thead>
        <tr>
          <th colspan="2">{% trans %}Balance{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="total">
          <th>{% trans %}Total{% endtrans %}</th>
          <td>{{ totals.gross|localizedcurrency(currency) }}</td>
        </tr>
        <tr class="net">
          <th>{% trans %}Net{% endtrans %}</th>
          <td>{{ totals.net|localizedcurrency(currency) }}</td>
        </tr>
        <tr class="taxes">
          <th>{% trans %}Taxes{% endtrans %}</th>
          <td>{{ totals.tax|localizedcurrency(currency) }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered sw-table-horizontal taxes">
      <thead>
        <tr>
          <th colspan="2">{% trans %}Withholding Taxes{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for tax in taxes %}
        <tr>
          <th>{{ tax.name }}</th>
          <td>{{ totals.taxes[tax.id]|localizedcurrency(currency) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="dashboard-listing">
    <h2>{% trans %}Recent invoices{% endtrans %}</h2>
    {% set table_selectable = false %}
    {% include "SiwappInvoiceBundle:Partials:listing.html.twig" %}
  </div>

  <div class="dashboard-listing">
    <h2>{% trans %}Past due invoices{% endtrans %}</h2>
    {% include "SiwappInvoiceBundle:Partials:listing.html.twig" with {'entities': overdue_invoices} %}
  </div>

{% endblock %}
