{% extends "SiwappCoreBundle::base.html.twig" %}
{% trans_default_domain 'SiwappEstimateBundle' %}

{% block actionlink %}
<a href="{{ path('estimate_add') }}" class="btn btn-default btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  {% trans %}menu.estimate_add{% endtrans %}
</a>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    'bundles/siwappinvoice/css/invoice.css'
    filter='cssrewrite'
    filter='?yui_css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block searchform_container %}{% endblock %}

{% block body %}

  <article class="invoice-like">

    <header id="invoice-like-title">
      {% if entity.id %}
      <ul class="entity-actions list-inline float-right">
        <li><a class="btn btn-default btn-info" href="{{ path('estimate_show_pdf', {'id': entity.id}) }}"><span class="glyphicon glyphicon-download-alt"></span> {% trans %}show.pdf{% endtrans %}</a></li>
        <li><a class="btn btn-default btn-info" href="{{ path('estimate_show_print', {'id': entity.id}) }}" target="_blank"><span class="glyphicon glyphicon-print"></span> {% trans %}show.print{% endtrans %}</a></li>
        <li><form action="{{ path('estimate_email', {'id': entity.id}) }}" method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <button type="submit" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-envelope"></span> {% trans %}show.email{% endtrans %}</button>
          </form>
        </li>
        <li><form action="{{ path('estimate_generate_invoice', {'id': entity.id}) }}" method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <button type="submit" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-file"></span> {% trans %}show.generate_invoice{% endtrans %}</button>
          </form></li>
      </ul>
      {% endif %}

      <h2>Estimate {{ entity.label() }}</h2>
      <ul id="invoice-like-status" class="list-unstyled">
        <li>
          <span class="label {{ entity.statusString }}">{{ entity.statusString|capitalize }}</span>
        </li>
        <li>
          {% if entity.sentByEmail %}
          <span class="label notice">{% trans %}estimate.sent_by_email{% endtrans %}</span>
          {% else %}
          <span class="label">{% trans %}estimate.not_sent_by_email{% endtrans %}</span>
          {% endif %}
        </li>
      </ul>
    </header>

    {{ form_start(form, {'attr': {'class': 'form-stacked' } }) }}

      {{ form_errors(form) }}

      <div class="row">
        <div id="invoice-like-customer-data" class="col-md-8">

          <h3>{% trans %}form.customer{% endtrans %}</h3>

          <div class="row">
            <div class="col-md-6 clearfix">
              {{ form_row(form.customer_name) }}
            </div>
            <div class="col-md-6 clearfix">
              {{ form_row(form.customer_identification) }}
            </div>
            <div class="col-md-6 clearfix">
              {{ form_row(form.contact_person) }}
            </div>

            <div class="col-md-6 clearfix">
              <div class="form-group">
                {{ form_label(form.customer_email) }}
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                  {{ form_widget(form.customer_email) }}
                </div>
                {{ form_errors(form.customer_email) }}
              </div>
            </div>

            <div class="col-md-6 clearfix">
              {{ form_row(form.invoicing_address) }}
            </div>
            <div class="col-md-6 clearfix">
              {{ form_row(form.shipping_address) }}
            </div>
          </div><!-- inner row -->
        </div><!-- span10 -->

        <div id="invoice-like-properties" class="col-md-4"><div class="panel panel-default">
          <h3 class="panel-heading">{% trans %}form.properties{% endtrans %}</h3>

          <div class="panel-body form-inline">
            {{ form_row(form.series) }}
            {{ form_row(form.issue_date) }}
            {% if form.status is defined %}
            {{ form_row(form.status) }}
            {% endif %}
          </div><!-- form inline -->
        </div></div><!-- span5 -->
      </div>

      <div class="row">
        <div class="col-md-12">

          <h3>{% trans %}form.items{% endtrans %}</h3>

          <table id="invoice-like-items" class="table table-condensed table-striped align-middle">
            <thead>
              <tr>
                <th></th>
                {% if bundle_exists('SiwappProductBundle') %}
                <th class="col-md-1 cell-align-center">{% trans from 'SiwappCoreBundle' %}item.form.product{% endtrans %}</th>
                {% endif %}
                <th class="">{% trans from 'SiwappCoreBundle' %}item.form.description{% endtrans %}</th>
                <th class="col-md-1 cell-align-center">{% trans from 'SiwappCoreBundle' %}item.form.quantity{% endtrans %}</th>
                <th class="col-md-2 cell-align-center">{% trans from 'SiwappCoreBundle' %}item.form.unitary_cost{% endtrans %}</th>
                <th class="col-md-1 cell-align-center">{% trans from 'SiwappCoreBundle' %}item.form.discount{% endtrans %}</th>
                <th class="col-md-2 cell-align-left">{% trans from 'SiwappCoreBundle' %}item.form.taxes{% endtrans %}</th>
                <th class="cell-align-right">{% trans from 'SiwappCoreBundle' %}item.form.total{% endtrans %}</th>
              </tr>
            </thead>
            <tbody data-prototype="{{ include('SiwappCoreBundle:Item:edit.html.twig', { 'form': form.items.vars.prototype, 'currency': currency })|e }}">
              {% for item in form.items %}
                {{ include('SiwappCoreBundle:Item:edit.html.twig', { 'form': item, 'item': item.vars.value, 'currency': currency }) }}
              {% endfor %}
              {# TODO: Action buttons: add/remove items, taxes, sort... #}
            </tbody>
          </table>

        </div>
      </div>

      <div class="row totals">
        <div class="col-md-6">

          <a id="invoice-like-add-item" href="#" class="btn btn-default btn-info"><span class="glyphicon glyphicon-plus glyphicon-white"></span> {% trans %}form.item_add{% endtrans %}</a>
          <script type="text/javascript">
              $('#invoice-like-add-item').on('click', function(event){
                  event.preventDefault();
                  var collectionHolder = $('#invoice-like-items tbody');
                  var prototype = collectionHolder.attr('data-prototype');
                  form = prototype.replace(/__name__/g, collectionHolder.children().length);
                  collectionHolder.append(form);
              });
          </script>
          {# TODO: Action buttons: add items. PROTOTYPE MUST BE CUSTOMIZED. #}

        </div>
        <div class="col-md-4 col-md-offset-2">
          <table id="invoice-like-totals" class="table table-condensed table-striped">
            <tbody>
              <tr>
                <th class="cell-size-large">{% trans %}form.subtotal{% endtrans %}</th>
                <td class="cell-align-right">{{ entity.baseAmount|localizedcurrency(currency) }}</td>
              </tr>
              <tr>
                <th>{% trans %}form.total_taxes{% endtrans %}</th>
                <td class="cell-align-right">{{ entity.taxAmount|localizedcurrency(currency) }}</td>
              </tr>
              <tr>
                <th>{% trans with {'%currency%': currency} %}form.total{% endtrans %}</th>
                <td class="cell-align-right">{{ entity.grossAmount|localizedcurrency(currency) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="invoice-like-notes" class="row">
        <div class="col-md-6">
          {{ form_row(form.terms) }}
        </div>
        <div class="col-md-6">
          {{ form_row(form.notes) }}
        </div>
      </div>

      {{ form_rest(form) }}

      <div class="form-actions">
        <input type="submit" class="btn btn-default btn-primary" name="save" value="{% trans %}form.submit{% endtrans %}">
        {% if not entity.id or entity.isDraft() %}
        <input type="submit" class="btn btn-default" name="save_draft" value="{% trans %}form.submit_draft{% endtrans %}">
        {% endif %}
        {% if entity.isApproved() %}
        <input type="submit" class="btn btn-default" name="save_close" value="{% trans %}form.submit_close{% endtrans %}">
        {% endif %}
        <div class="float-right">
          {% if entity.id %}
          <a class="btn btn-default btn-danger" href="{{ path('estimate_delete', {'id': entity.id}) }}">{% trans %}form.submit_delete{% endtrans %}</a>
          {% endif %}
        </div>
      </div>
    {{ form_end(form) }}

  </article>

{% endblock %}
