{% extends "SiwappCoreBundle:AbstractInvoice:edit.html.twig" %}
{% trans_default_domain 'SiwappEstimateBundle' %}


{% block page_messages %}
  {{ parent() }}

  {% if app.request.session.get('estimate_auto_print') %}
  <div class="alert alert-warning fade in js-hide">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <a href="{{ path('estimate_show_print', {'id': app.request.session.remove('estimate_auto_print')}) }}" class="js-auto-click">{% trans %}flash.no_js_estimate_print{% endtrans %}</a>
  </div>
  {% endif %}
{% endblock %}


{% block actionlink %}
<a href="{{ path('estimate_add') }}" class="btn btn-default btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  {% trans %}menu.estimate_add{% endtrans %}
</a>
{% endblock %}


{% block invoice_label %}
  <h2>{% trans %}estimate.estimate{% endtrans %} {{ entity.label() }}</h2>
  <ul id="invoice-like-status" class="list-unstyled">
    <li>
      <span class="label {{ entity.statusString }}">{{ ('estimate.' ~ entity.statusString)|trans }}</span>
    </li>
    <li>
      {% if entity.sentByEmail %}
      <span class="label notice">{% trans %}estimate.sent_by_email{% endtrans %}</span>
      {% else %}
      <span class="label">{% trans %}estimate.not_sent_by_email{% endtrans %}</span>
      {% endif %}
    </li>
  </ul>
{% endblock %}


{% block properties_form %}
  {{ form_row(form.series) }}
  {{ form_row(form.issue_date) }}
  {% if form.status is defined %}
  {{ form_row(form.status) }}
  {% endif %}
  {{ form_row(form.sent_by_email) }}
{% endblock %}

{% block form_actions %}
  <input type="submit" class="btn btn-default btn-primary" name="save" value="{% trans %}form.submit{% endtrans %}">
  {% if not entity.id or entity.isDraft() %}
  <input type="submit" class="btn btn-default" name="save_draft" value="{% trans %}form.submit_draft{% endtrans %}">
  {% endif %}
  {% if entity.isApproved() %}
  <input type="submit" class="btn btn-default" name="save_close" value="{% trans %}form.submit_close{% endtrans %}">
  {% endif %}

  {% if entity.id %}
  <input type="submit" class="btn btn-default btn-info" name="save_pdf" value="{% trans %}form.submit_pdf{% endtrans %}">
  <input type="submit" class="btn btn-default btn-info" name="save_print" value="{% trans %}form.submit_print{% endtrans %}">
  <input type="submit" class="btn btn-default btn-warning" name="save_email" value="{% trans %}form.submit_email{% endtrans %}">
  <input type="submit" class="btn btn-default btn-warning" name="save_generate" value="{% trans %}form.submit_generate{% endtrans %}">
  {% endif %}

  <div class="float-right">
    {% if entity.id %}
    <a class="btn btn-default btn-danger" href="{{ path('estimate_delete', {'id': entity.id}) }}">{% trans %}form.submit_delete{% endtrans %}</a>
    {% endif %}
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script>
  jQuery(function($) {
    $(document).on('change', '.edit-item-row select, .edit-item-row input', function () {
      updateInvoiceTotals('{{ path('estimate_form_totals') }}', $(this).parents('tr'));
    });
  });
  </script>
{% endblock %}
