{% trans_default_domain 'SiwappCoreBundle' %}<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% trans %}html.title{% endtrans %}{% endblock %} | Siwapp</title>
  {% block stylesheets %}
  {% stylesheets
    'bundles/siwappcore/vendor/bootstrap/css/bootstrap.min.css'
    'bundles/siwappcore/vendor/jquery-ui/jquery-ui.min.css'
    'bundles/siwappcore/vendor/select2/css/select2.min.css'
    'bundles/siwappcore/css/siwapp.layout.css'
    'bundles/siwappcore/css/siwapp.tables.css'
    'bundles/siwappcore/css/siwapp.forms.css'
    'bundles/siwappcore/css/siwapp.patterns.css'
    'bundles/siwappcore/css/siwapp.autocomplete.css'
    'bundles/siwappcore/css/siwapp.responsive.css'
    filter='cssrewrite'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {% endblock %}

  {% javascripts
    'bundles/siwappcore/vendor/jquery-2.2.3.min.js'
    'bundles/siwappcore/vendor/modernizr-custom.js'
    output='js/core.js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block bodytag %}<body>{% endblock %}

{% block header %}
  <header id="hd">

    <div class="container">
    <h1>
      <a href="{{ bundle_exists('SiwappDashboardBundle') ? path('dashboard_index') : path('invoice_index') }}">
        <img src="{{ asset('bundles/siwappcore/img/logo.png') }}" alt="Siwapp" />
        <span class="version">v.1.0-DEV</span>
      </a>
    </h1>

    <nav class="user">
      <ul class="list-unstyled">
        <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
        <li>
          <a href="{{ path('global_settings') }}" data-shortcut="alt+g, s">
            <span class="glyphicon glyphicon-cog"></span>
            {{ 'menu.settings_index'|trans({}, 'SiwappConfigBundle') }}
          </a>
        </li>
        <li><a href="https://github.com/siwapp/siwapp" target="_blank">
            <span class="glyphicon glyphicon-question-sign"></span>
            {{ 'menu.help'|trans }}</a>
        </li>
        <li>
          <a href="{{ path('fos_user_security_logout') }}" data-shortcut="alt+g, q">
            <span class="glyphicon glyphicon-log-out"></span>
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        </li>
      </ul>
    </nav>

    <nav class="main">

      {% set routename = app.request.attributes.get('_route') %}

      <label for="drop" class="toggle"><span class="glyphicon glyphicon-menu-hamburger"></span>MENU</label>
      <input type="checkbox" id="drop" />

      <ul class="nav nav-tabs menu">
        {% if bundle_exists('SiwappDashboardBundle') %}
        <li class="{{ routename|menu_active_tab('dashboard_') }}">
          <a href="{{ path('dashboard_index') }}">{{ 'menu.dashboard_index'|trans({}, 'SiwappDashboardBundle') }}</a>
        </li>
        {% endif %}
        <li class="{{ routename|menu_active_tab('invoice_') }}">
          <a href="{{ path('invoice_index') }}">{{ 'menu.invoice_index'|trans({}, 'SiwappInvoiceBundle') }}</a>
        </li>
        {% if bundle_exists('SiwappRecurringInvoiceBundle') %}
        <li class="{{ routename|menu_active_tab('recurring_') }}">
          <a href="{{ path('recurring_index') }}">{{ 'menu.recurring_index'|trans({}, 'SiwappRecurringInvoiceBundle') }}</a>
        </li>
        {% endif %}
        {% if bundle_exists('SiwappEstimateBundle') %}
        <li class="{{ routename|menu_active_tab('estimate_') }}">
          <a href="{{ path('estimate_index') }}">{{ 'menu.estimate_index'|trans({}, 'SiwappEstimateBundle') }}</a>
        </li>
        {% endif %}
        {% if bundle_exists('SiwappCustomerBundle') %}
        <li class="{{ routename|menu_active_tab('customer_') }}">
          <a href="{{ path('customer_index') }}">{{ 'menu.customer_index'|trans({}, 'SiwappCustomerBundle') }}</a>
        </li>
        {% endif %}
        {% if bundle_exists('SiwappCustomerBundle') %}
        <li class="{{ routename|menu_active_tab('product_') }}">
          <a href="{{ path('product_index') }}">{{ 'menu.product_index'|trans({}, 'SiwappProductBundle') }}</a>
        </li>
        {% endif %}
      </ul>

      <div id="create-button" class="btn-group">
        {% block actionlink %}
        <a href="{{ path('invoice_add') }}" class="btn btn-default btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
          {{ 'menu.invoice_add'|trans({}, 'SiwappInvoiceBundle') }}
        </a>
        {% endblock %}
      </div>

    </nav>

    </div>
  </header>
{% endblock %}

  <section id="bd">
    {% block searchform_container %}
      <div class="searchform">
        <div class="container">
          {% block searchform %}
          <p><strong>SEARCHFORM:</strong> Check ::base.html.twig.</p>
          <ul>
            <li>To remove the <em>searchform</em> override the <em>searchform_container</em> block in your template.</li>
            <li>To add your own <em>searchform</em> code override the <em>searchform</em>block in your template.</li>
          {% endblock %}
        </div>
      </div>
    {% endblock %}

    <div class="container">
      {% block page_messages %}
      {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
          <div class="alert alert-{{ type }} fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{ flash }}
          </div>
        {% endfor %}
      {% endfor %}
      {% endblock %}

      {% block body %}{% endblock %}
    </div>
  </section>

  <footer id="ft">
  </footer>

  {% javascripts
    'bundles/siwappcore/vendor/bootstrap/js/bootstrap.min.js'
    'bundles/siwappcore/vendor/jquery.placeholder.min.js'
    'bundles/siwappcore/vendor/jquery-ui/jquery-ui.min.js'
    'bundles/siwappcore/vendor/select2/js/select2.min.js'
    'bundles/siwappcore/js/global.js'
    output='js/frameworks.js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% block javascripts %}{% endblock %}
  {% block toolbar %}{% endblock %}
</body>
</html>
