<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>

  {% block stylesheets %}
  {% stylesheets
    'bundles/siwappcore/vendor/bootstrap/css/bootstrap.min.css'
    'bundles/siwappcore/css/siwapp.layout.css'
    'bundles/siwappcore/css/siwapp.tables.css'
    'bundles/siwappcore/css/siwapp.forms.css'
    'bundles/siwappcore/css/siwapp.patterns.css'
    filter='cssrewrite'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  {% endblock %}

  {% javascripts
    'bundles/siwappcore/vendor/jquery-2.2.3.min.js'
    'bundles/siwappcore/vendor/modernizr-custom.js'
    output='js/core.js'
    filter='?yui_js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block bodytag %}<body>{% endblock %}

{% block header %}
  <header id="hd">

    <div class="container">
    <h1>
      <a href="{{ path('dashboard_index') }}">
        <img src="{{ asset('bundles/siwappcore/img/logo.png') }}" alt="Siwapp" />
        <span class="version">v.1.0-DEV</span>
      </a>
    </h1>

    <nav class="user">
      <ul class="list-unstyled">
        <li>{% trans with {'%username%': 'test' } %}Wellcome, %username%!{% endtrans %}</li>
        <li>
          <a href="{{ path('global_settings') }}" data-shortcut="alt+g, s">
            <span class="glyphicon glyphicon-cog"></span>
            {% trans %}Settings{% endtrans %}
          </a>
        </li>
        <li>
          <a href="{{ path('dashboard_index') }}" data-shortcut="alt+g, q">{% trans %}Logout{% endtrans %}</a>
        </li>
      </ul>
    </nav>

    <nav class="main">

      <div id="create-button" class="btn-group">
        <a href="{{ path('invoice_add') }}" class="btn btn-default btn-primary">
          <span class="glyphicon glyphicon-plus glyphicon glyphicon-white"></span>
          {% trans %}New Invoice{% endtrans %}
        </a>
      </div>


      {% set routename = app.request.attributes.get('_route') %}

      <ul class="nav nav-tabs">
        <li class="{{ routename|menu_active_tab('dashboard_') }}">
          <a href="{{ path('dashboard_index') }}" data-shortcut="alt+g, d">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('invoice_') }}">
          <a href="{{ path('invoice_index') }}" data-shortcut="alt+g, i">{% trans %}Invoices{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('recurring_') }}">
          <a href="{{ path('recurring_index') }}" data-shortcut="alt+g, r">{% trans %}Recurring Invoices{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('estimate_') }}">
          <a href="{{ path('estimate_index') }}" data-shortcut="alt+g, e">{% trans %}Estimates{% endtrans %}</a>
        </li>
        <li class="{{ routename|menu_active_tab('customer_') }}">
          <a href="{{ path('customer_index') }}" data-shortcut="alt+g, c">{% trans %}Customers{% endtrans %}</a>
        </li>
      </ul>
    </nav>

    </div>
  </header>
{% endblock %}

  <section id="bd">
    {% block searchform_container %}
      <div class="searchform">
        <div class="container">
          {% block searchform %}
          <p><strong>SEARCHFORM:</strong> Check ::base.html.twig.</p>
          <ul>
            <li>To remove the <em>searchform</em> override the <em>searchform_container</em> block in your template.</li>
            <li>To add your own <em>searchform</em> code override the <em>searchform</em>block in your template.</li>
          {% endblock %}
        </div>
      </div>
    {% endblock %}

    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </section>

  <footer id="ft">
  </footer>

  {% javascripts
    'bundles/siwappcore/vendor/bootstrap/js/bootstrap.min.js'
    'bundles/siwappcore/vendor/jwerty.js'
    'bundles/siwappcore/vendor/jquery.placeholder.min.js'
    'bundles/siwappcore/js/global.js'
    'bundles/siwappcore/js/search-common.js'
    output='js/frameworks.js'
    filter='?yui_js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% block javascripts %}{% endblock %}
</body>
</html>
