{# entities variable MUST be defined from the outside #}

{% set table_columns = 8 %}

{% if not table_selectable is defined %}
  {# This variable MUST be explicitly set to false to hide checkboxes         #}
  {# If you set this to false and you have a second listing that display them #}
  {# set explicitly to true in the second listing.                            #}
  {% set table_selectable = true %}
  {% set table_columns = table_columns + 1 %}
{% endif %}
{% if not paginatable is defined %}
  {% set paginatable = true %}
{% endif %}
{% if not sortable is defined %}
  {% set sortable = true %}
{% endif %}

<table class="table table-condensed table-striped align-middle" data-type="invoices">
  <thead>
    <tr>
      {% if table_selectable %}
      <th class="cell-size-tiny cell-align-center">
        <input type="checkbox" name="all" />
      </th>
      {% endif %}
      <th class="cell-size-medium">
        {% if sortable %}
        {{ knp_pagination_sortable(invoices, 'Number'|trans, 'i.number') }}
        {% else %}
        {% trans %}Number{% endtrans %}
        {% endif %}
      </th>
      <th>
        {% if sortable %}
        {{ knp_pagination_sortable(invoices, 'Customer'|trans, 'i.customer_name') }}
        {% else %}
        {% trans %}Customer{% endtrans %}
        {% endif %}
      </th>
      <th class="cell-size-medium">
        {% if sortable %}
        {{ knp_pagination_sortable(invoices, 'Date'|trans, 'i.issue_date') }}
        {% else %}
        {% trans %}Date{% endtrans %}
        {% endif %}
      </th>
      <th class="cell-size-medium">
        {% if sortable %}
        {{ knp_pagination_sortable(invoices, 'Due Date'|trans, 'i.due_date') }}
        {% else %}
        {% trans %}Due Date{% endtrans %}
        {% endif %}
      </th>
      <th class="cell-size-small-medium cell-align-center">
        {% if sortable %}
        {{ knp_pagination_sortable(invoices, 'Status'|trans, 'i.status') }}
        {% else %}
        {% trans %}Status{% endtrans %}
        {% endif %}
      </th>
      <th class="cell-size-medium cell-align-right">
        {# No sort here for now until we have a DB field #}
        {{ 'Due'|trans }}
      </th>
      <th class="cell-size-medium cell-align-right">
        {% if sortable %}
        {{ knp_pagination_sortable(invoices, 'Total'|trans, 'i.gross_amount') }}
        {% else %}
        {% trans %}Status{% endtrans %}
        {% endif %}
      </th>
      <th class="cell-size-medium"></th>
    </tr>
  </thead>
  <tbody>
    {% if invoices|length == 0 %}
      <tr>
        <td colspan="{{ table_columns }}">{% trans %}No invoices found.{% endtrans %}</td>
      </tr>
    {% endif %}
    {% for entity in invoices %}
      <tr data-link="{{ path('invoice_show', { 'id': entity.id }) }}">
        {% if table_selectable %}
        <td class="cell-align-center">
          <input type="checkbox" name="id[]" value="{{ entity.id }}" />
        </td>
        {% endif %}
        <td class="cell-size-medium cell-align-center">{{ entity.label() }}</td>
        <td>{{ entity.getCustomerName }}</td>
        <td>{{ entity.issueDate|localizeddate('short', 'none') }}</td>
        <td>{{ entity.dueDate|localizeddate('short', 'none') }}</td>
        <td class="cell-align-center">
          <span class="label {{ entity.statusString }}">{% trans with { '%status%': entity.statusString } %}%status%{% endtrans %}</span>
        </td>
        <td class="cell-align-right">{{ entity.dueAmount|localizedcurrency(currency) }}</td>
        <td class="cell-align-right">{{ entity.grossAmount|localizedcurrency(currency) }}</td>
        <td class="cell-align-right payments">
          <a href="{{ path('invoice_payments', { 'invoiceId': entity.id }) }}" class="btn btn-default payments" title="Payments"  data-toggle="modal" data-target="#payment-modal" data-remote="false"><span class="glyphicon glyphicon-piggy-bank"></span> {% trans %}Payments{% endtrans %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% if paginatable %}
<div class="navigation">
    {{ knp_pagination_render(invoices) }}
</div>
{% endif %}
<div id="payment-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="payments-modal-title">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">×</span></button> <h4 class="modal-title" id="payments-modal-title">Payments</h4> </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
