{% extends "SiwappConfigBundle:Default:settingsMenu.html.twig" %}


{% block body %}

   {{ form_start(form, {'action': path('global_settings')}) }}
        <details open>
            <summary>{% trans %}Company{% endtrans %}</summary>
            {{ form_row(form.company_name) }}
            {{ form_row(form.company_address) }}
            {{ form_row(form.company_phone) }}
            {{ form_row(form.company_fax) }}
            {{ form_row(form.company_email) }}
            {{ form_row(form.company_url) }}
            {{ form_row(form.company_logo) }}
            {{ form_row(form.currency) }}
        </details>
        <details>
            <summary>{% trans %}Legal texts{% endtrans %}</summary>
            {{ form_row(form.legal_terms) }}
        </details>
        <details>
            <summary>{% trans %}Invoicing taxes{% endtrans %}</summary>
            {{ form_row(form.taxes) }}
            <a href="#" class="addTax">Add Tax</a>
        </details>
        <details>
            <summary>{% trans %}Invoicing series{% endtrans %}</summary>
            {{ form_row(form.series) }}
            <a href="#" class="addSerie">Add Serie</a>
        </details>
        <details>
            <summary>{% trans %}PDF Settings{% endtrans %}</summary>
            {{ form_row(form.pdf_size) }}
            {{ form_row(form.pdf_orientation) }}
        </details>
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}Save{% endtrans %}" />
    {{ form_end(form) }}

    <script type="text/javascript">
      $('a.addTax').live('click', function(event){
          event.preventDefault();
          var collectionHolder = $('#global_settings_taxes');
          var prototype = collectionHolder.attr('data-prototype');
          form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
          collectionHolder.append(form);
      });
    </script>

    <script type="text/javascript">
      $('a.addSerie').live('click', function(event){
          event.preventDefault();
          var collectionHolder = $('#global_settings_series');
          var prototype = collectionHolder.attr('data-prototype');
          form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
          collectionHolder.append(form);
      });
    </script>

{% endblock %}
